@model MIS.Models.Product
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-arrow">
    <li class="breadcrumb-item"><a href="/product/index">product</a></li>
    <li class="breadcrumb-item active" aria-current="page">detail</li>
  </ol>
</nav>
<hr/>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productGroup.product_group_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.product_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
